/* Route Offer */

.PublishOffer-container-all {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaedee;
}

.PublishOffer-contenu {
  width: 1280px;
  height: 1279px;
  display: flex;
  flex-direction: column;
}
.publish-form {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 1190px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-around;
}
.publish-offer-file {
  width: 1280px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.publish-label {
  width: 222px;
  height: 60px;
  border: 2px solid #2eb0ba;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.publish-label-none {
  display: none;
}
.publish-img-preview {
  width: 180px;
  height: 180px;
  position: relative;
  left: -500px;
}

.publish-img-preview-none {
  display: none;
}

.publish-img-remove-button {
  width: 30px;
  height: 25px;
  position: relative;
  left: -450px;
  top: -170px;
  cursor: pointer;
}

.publish-img-remove-button-none {
  display: none;
}
.publish-offer-file-cadre {
  width: 1232px;
  height: 202px;
  border: 1px dashed #ebedee;
  border-radius: 3x;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.publish-spanPlus {
  height: 50px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: #2eb0ba;
}
.publish-span {
  height: 50px;
  cursor: pointer;
  margin-top: 35px;
  font-size: 18px;
  font-weight: bold;
  color: #2eb0ba;
}
.publish-input-file {
  opacity: 0;
  position: relative;
  width: 222px;
  height: 60px;
  top: -60px;
  right: 0px;
  cursor: pointer;
}
.publish-offer-sectionTitle {
  width: 1280px;
  height: 222px;
  display: flex;
  flex-direction: column;

  background-color: white;
}
.publish-title {
  display: flex;
  width: 1280px;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebedee;
}
.publish-desc {
  width: 1280px;
  height: 148px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.publish-offer-sectionDescription {
  width: 1280px;
  height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.publish-offer-sectionPrice {
  width: 1280px;
  height: 129px;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;

  background-color: white;
}

.publish-offer-sectionButton {
  width: 1280px;
  height: 143px;
  display: flex;

  justify-content: flex-end;
  align-items: flex-end;
  background-color: #eaedee;
}

.publish-offer-button {
  width: 79px;
  height: 43px;
  color: white;
  background-color: #2eb0ba;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.publish-input {
  width: 620px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #ebedee;
  outline: none;
  margin-right: 30px;
}
.publish-input-textarea {
  width: 620px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #ebedee;
  text-align: left;

  resize: none;
  outline: none;
  margin-right: 30px;
}

.publish-input:focus {
  border-bottom: 1px solid #00b1ca;
}
.publish-input-textarea:focus {
  border-bottom: 1px solid #00b1ca;
}

.publish-h4 {
  font-weight: normal;
  margin-left: 20px;
}

.label-file {
  width: 189px;
  height: 39px;
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
}
.label-file:hover {
  color: #25a5c4;
  cursor: pointer;
}

.input-file {
  opacity: 1;
  position: absolute;
  right: 650px;
  cursor: pointer;
}
.publish-offer-file-input {
  border: 2px solid #2eb0ba;
  width: 79px;
  height: 43px;
  color: #2eb0ba;
  display: none;
}
