.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  height: 3000px;
}

.cards-direction {
  width: 1280px;
  height: 1956px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-container {
  width: 235px;
  height: 489px;
  padding-left: 6px;
  padding-bottom: 16px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.card-avatarusername {
  width: 235px;
  height: 45px;
  display: flex;
  align-items: center;
}
.card-avatar-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.card-avatar-title {
  width: 59px;
  height: 15px;
  font-size: 12px;
  color: #999999;
}

.card-container-image-infos {
  width: 235px;
  height: 428px;
}
.card-image {
  width: 235px;
  height: 360px;
}

.card-size-price-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 235px;
  height: 63px;
}

.card-price {
  width: 219px;
  height: 17px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.card-size {
  width: 219px;
  height: 15px;
  font-size: 12px;
  color: #999999;
}

.card-brand {
  width: 219px;
  height: 15px;
  font-size: 12px;
  color: #999999;
}

a {
  text-decoration: none;
}
