.header-container {
  width: 1280px;
  height: 59px;
  display: flex;
  justify-content: space-around;

  align-items: center;
}
.header-logo {
  width: 78px;
  height: 35px;
}

.header-search {
  width: 632px;
  height: 39px;
  background-color: #f5f6f7;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: lightgray;
  outline: none;
  font-size: 16px;
}

.header-container-bouton {
  width: 250px;
  height: 30px;
}
.header-bouton {
  width: 115px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #2eb0ba;
  color: #2eb0ba;
  cursor: pointer;
  font-size: 12px;
}

.header-bouton-deconnecter {
  width: 115px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #c2175b;
  border: none;
  color: white;
  cursor: pointer;
}
.green {
  color: white;
  background-color: #2eb0ba;
}
