.bandeau-container {
  background-image: url("./hero.jpg");
  background-position: center;
  width: 100%;
  height: 455px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.bandeau-container-card {
  width: 1280px;
  height: 455px;
  display: flex;
  align-items: center;
}

.bandeau-card {
  width: 410px;
  height: 270px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 2px rgba(17, 17, 17, 0.24);
}
.bandeau-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 410px;
  height: 270px;
}
.bandeau-card-text {
  width: 309px;
  height: 82px;
  font-size: 34px;
  margin-left: 30px;
  font-size: 34px;
  line-height: 45px;
}
.bandeau-card-button {
  width: 187px;
  height: 45px;
  background-color: #2eb0ba;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 30px;
  font-size: 13px;
  cursor: pointer;
}
.bandeau-img-dechirer {
  position: absolute;
  width: 1200px;
  height: 80px;
  background-image: url("./dechirer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0px;
  right: 0;
}

/* DESIGN RESPONSIVE  */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .bandeau-container {
    width: 100vw;
    height: 210px;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 180px;
  }

  .bandeau-container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 584px;
  }
  .bandeau-card {
    width: 100vw;
    height: 230px;
    position: absolute;
    top: 180px;
    right: 0px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bandeau-img-dechirer {
    position: absolute;
    width: 100vw;
    height: 80px;
  }

  .bandeau-card-text {
    width: 100vw;
    height: 70px;
  }
  .bandeau-card-text-p {
    width: 80vw;
    height: 40px;
    text-align: center;

    font-size: 34px;
    line-height: 33px;
    text-align: center;
  }
  .bandeau-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 270px;
  }

  .bandeau-card-button {
    width: 80vw;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 13px;
    cursor: pointer;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bandeau-container {
    width: 100%;
    height: 584px;
    padding-left: 20px;
  }

  .bandeau-container-card {
    width: 100%;
    height: 584px;
  }
  .bandeau-card {
    width: 400px;
    height: 258px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bandeau-container {
    width: 100%;
    height: 584px;
    padding-left: 20px;
  }

  .bandeau-container-card {
    width: 100%;
    height: 584px;
  }
  .bandeau-card {
    width: 400px;
    height: 258px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bandeau-container {
    width: 100%;
    height: 455px;
  }

  .bandeau-container-card {
    width: 1280px;
    height: 455px;
  }
}
